# If you want electrum-polis to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum_polis.desktop

[Desktop Entry]
Comment=Lightweight Polispay Client
Exec=electrum-polis %u
GenericName[en_US]=Electrum-POLIS
GenericName=Electrum-POLIS
Icon=electrum-polis
Name[en_US]=Electrum Polispay Wallet
Name=Electrum Polispay Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/polispay;

